.formSubmitButton--button {
  margin-top: 10px;
}
.formSubmitButton--button :global(.vtex-button) {
  background: #fb9b0f;
  border-radius: 10px;
  border: 0;
  transition: filter 0.5s;
}
.formSubmitButton--button :global(.vtex-button):hover {
  background: #fb810f;
  filter: brightness(0.9);
}

@media (max-width: 991.98px) {
  .formSubmitButton--button {
    margin-top: 10px;
    margin-bottom: 15px;
  }
}
