.productBrandName--summaryListDesktop {
  text-decoration: none;
  font-weight: 500;
  color: #0067C7;
  font-size: .875rem;
}

.productBrandName--summaryListMobile {
  text-decoration: none;
  color: #0067C7;
  font-size: .875rem;
}



.autoCompleteOuterContainer :global(.vtex-input-prefix__group)
{
  border-radius: 0;
  height: 48px;

}
.autoCompleteOuterContainer :global(.vtex-input__suffix) {
  background-color: #441afa;
  border-radius: 0;
}
.searchBarIcon--search{
  color:white;
}


